<a href="https://colab.research.google.com/github/VeekshithaKulal/Machine-learning/blob/main/project_frst.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np

df=pd.read_csv("/content/Train-1617360447408-1660719685476.csv")
df

,index,encounter_id,patient_id,race,gender,age,weight,time_in_hospital,medical_specialty,num_lab_procedures,...,X19,X20,X21,X22,X23,X24,X25,change,diabetesMed,readmitted
0,69375,197029140,51521940,Hispanic,Male,[80-90),?,4,Emergency/Trauma,39,...,No,No,No,No,No,No,No,No,Yes,1
1,57272,163571946,92631357,Caucasian,Male,[60-70),?,3,Emergency/Trauma,34,...,No,No,No,No,No,No,No,No,No,0
2,82347,256497366,30023982,Caucasian,Female,[50-60),?,6,Nephrology,50,...,No,Down,No,No,No,No,No,Ch,Yes,1
3,89608,289891212,93606021,AfricanAmerican,Female,[70-80),?,5,?,63,...,No,Down,No,No,No,No,No,Ch,Yes,1
4,24091,81873900,23464296,Caucasian,Male,[70-80),?,9,Psychiatry,17,...,No,No,No,No,No,No,No,No,No,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66582,39934,124202466,23450508,Caucasian,Female,[70-80),?,11,InternalMedicine,40,...,No,Steady,No,No,No,No,No,No,Yes,0
66583,47366,145667070,29324601,Caucasian,Male,[80-90),?,4,?,39,...,No,No,No,No,No,No,No,No,No,1
66584,76555,231061116,2179062,Caucasian,Female,[60-70),?,2,?,24,...,No,No,No,No,No,No,No,No,Yes,1
66585,25392,84911682,20531754,?,Female,[80-90),?,4,InternalMedicine,39,...,No,No,No,No,No,No,No,No,No,0
66586,51312,153167502,81985473,Caucasian,Female,[80-90),?,2,?,38,...,No,Steady,No,No,No,No,No,Ch,Yes,1

In [5]:
df1=df.copy()

In [6]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66587 entries, 0 to 66586
Data columns (total 49 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   index               66587 non-null  int64
 1   encounter_id        66587 non-null  int64
 2   patient_id          66587 non-null  int64
 3   race                66587 non-null  object
 4   gender              66587 non-null  object
 5   age                 66587 non-null  object
 6   weight              66587 non-null  object
 7   time_in_hospital    66587 non-null  int64
 8   medical_specialty   66587 non-null  object
 9   num_lab_procedures  66587 non-null  int64
 10  num_procedures      66587 non-null  int64
 11  num_medications     66587 non-null  int64
 12  number_outpatient   66587 non-null  int64
 13  number_emergency    66587 non-null  int64
 14  number_inpatient    66587 non-null  int64
 15  diag_1              66587 non-null  object
 16  diag_2              66587 non-null  object
 17  diag_3              66587 non-null  object
 18  diag_4              66587 non-null  object
 19  diag_5              66587 non-null  float64
 20  number_diagnoses    66587 non-null  int64
 21  X1                  3483 non-null   object
 22  X2                  11136 non-null  object
 23  X3                  66587 non-null  object
 24  X4                  66587 non-null  object
 25  X5                  66587 non-null  object
 26  X6                  66587 non-null  object
 27  X7                  66587 non-null  object
 28  X8                  66587 non-null  object
 29  X9                  66587 non-null  object
 30  X10                 66587 non-null  object
 31  X11                 66587 non-null  object
 32  X12                 66587 non-null  object
 33  X13                 66587 non-null  object
 34  X14                 66587 non-null  object
 35  X15                 66587 non-null  object
 36  X16                 66587 non-null  object
 37  X17                 66587 non-null  object
 38  X18                 66587 non-null  object
 39  X19                 66587 non-null  object
 40  X20                 66587 non-null  object
 41  X21                 66587 non-null  object
 42  X22                 66587 non-null  object
 43  X23                 66587 non-null  object
 44  X24                 66587 non-null  object
 45  X25                 66587 non-null  object
 46  change              66587 non-null  object
 47  diabetesMed         66587 non-null  object
 48  readmitted          66587 non-null  int64
dtypes: float64(1), int64(12), object(36)
memory usage: 24.9+ MB

In [7]:
df1.isnull().sum()

index                     0
encounter_id              0
patient_id                0
race                      0
gender                    0
age                       0
weight                    0
time_in_hospital          0
medical_specialty         0
num_lab_procedures        0
num_procedures            0
num_medications           0
number_outpatient         0
number_emergency          0
number_inpatient          0
diag_1                    0
diag_2                    0
diag_3                    0
diag_4                    0
diag_5                    0
number_diagnoses          0
X1                    63104
X2                    55451
X3                        0
X4                        0
X5                        0
X6                        0
X7                        0
X8                        0
X9                        0
X10                       0
X11                       0
X12                       0
X13                       0
X14                       0
X15                       0
X16                       0
X17                       0
X18                       0
X19                       0
X20                       0
X21                       0
X22                       0
X23                       0
X24                       0
X25                       0
change                    0
diabetesMed               0
readmitted                0
dtype: int64

In [8]:
df1.duplicated().sum()

np.int64(17676)

In [9]:
df1.drop(['encounter_id', 'patient_id','weight'], axis=1, inplace=True)

In [10]:
(df1['race']=='?').sum()

np.int64(1504)

In [11]:
df1['race']=df1['race'].replace("?","unknown")

In [12]:
df1.tail(10)

,index,race,gender,age,time_in_hospital,medical_specialty,num_lab_procedures,num_procedures,num_medications,number_outpatient,...,X19,X20,X21,X22,X23,X24,X25,change,diabetesMed,readmitted
66577,85934,AfricanAmerican,Male,[60-70),2,?,10,0,8,0,...,No,No,No,No,No,No,No,No,No,0
66578,1784,AfricanAmerican,Female,[70-80),3,InternalMedicine,60,0,6,0,...,No,Steady,No,No,No,No,No,No,Yes,1
66579,95465,AfricanAmerican,Male,[60-70),10,InternalMedicine,45,2,22,0,...,No,Steady,No,No,No,No,No,No,Yes,1
66580,13308,Caucasian,Male,[60-70),6,?,58,0,19,0,...,No,Steady,No,No,No,No,No,Ch,Yes,1
66581,4840,Caucasian,Female,[70-80),1,Surgery-General,10,1,11,0,...,No,No,No,No,No,No,No,No,No,0
66582,39934,Caucasian,Female,[70-80),11,InternalMedicine,40,4,35,0,...,No,Steady,No,No,No,No,No,No,Yes,0
66583,47366,Caucasian,Male,[80-90),4,?,39,1,7,0,...,No,No,No,No,No,No,No,No,No,1
66584,76555,Caucasian,Female,[60-70),2,?,24,1,13,0,...,No,No,No,No,No,No,No,No,Yes,1
66585,25392,unknown,Female,[80-90),4,InternalMedicine,39,1,14,0,...,No,No,No,No,No,No,No,No,No,0
66586,51312,Caucasian,Female,[80-90),2,?,38,2,12,0,...,No,Steady,No,No,No,No,No,Ch,Yes,1

In [13]:
df1['medical_specialty']=df1['medical_specialty'].replace('?','unknown')

In [14]:
df1.head(20)

,index,race,gender,age,time_in_hospital,medical_specialty,num_lab_procedures,num_procedures,num_medications,number_outpatient,...,X19,X20,X21,X22,X23,X24,X25,change,diabetesMed,readmitted
0,69375,Hispanic,Male,[80-90),4,Emergency/Trauma,39,1,9,1,...,No,No,No,No,No,No,No,No,Yes,1
1,57272,Caucasian,Male,[60-70),3,Emergency/Trauma,34,1,12,0,...,No,No,No,No,No,No,No,No,No,0
2,82347,Caucasian,Female,[50-60),6,Nephrology,50,2,24,0,...,No,Down,No,No,No,No,No,Ch,Yes,1
3,89608,AfricanAmerican,Female,[70-80),5,unknown,63,0,14,0,...,No,Down,No,No,No,No,No,Ch,Yes,1
4,24091,Caucasian,Male,[70-80),9,Psychiatry,17,1,11,0,...,No,No,No,No,No,No,No,No,No,1
5,11756,AfricanAmerican,Male,[40-50),3,unknown,43,3,13,0,...,No,Down,No,No,No,No,No,Ch,Yes,0
6,42376,Caucasian,Male,[70-80),9,unknown,1,4,14,0,...,No,No,No,No,No,No,No,No,No,0
7,91744,Caucasian,Female,[40-50),4,unknown,15,3,17,0,...,No,No,No,No,No,No,No,No,No,0
8,27014,Caucasian,Female,[70-80),13,Family/GeneralPractice,70,5,32,0,...,No,No,No,No,No,No,No,No,Yes,0
9,95964,Caucasian,Male,[70-80),3,InternalMedicine,63,6,28,0,...,No,No,No,No,No,No,No,No,No,0
10,57153,Caucasian,Female,[80-90),6,unknown,64,0,17,1,...,No,Up,No,No,No,No,No,Ch,Yes,1
11,85198,Caucasian,Male,[50-60),2,unknown,45,3,11,0,...,No,Steady,No,No,No,No,No,No,Yes,1
12,25883,Caucasian,Female,[70-80),4,ObstetricsandGynecology,38,4,13,0,...,No,No,No,No,No,No,No,Ch,Yes,0
13,75699,Caucasian,Male,[80-90),7,Cardiology,57,6,38,0,...,No,No,No,No,No,No,No,No,No,1
14,23486,AfricanAmerican,Male,[80-90),4,InternalMedicine,52,0,18,0,...,No,Steady,No,No,No,No,No,No,Yes,0
15,16237,Caucasian,Male,[60-70),7,unknown,39,3,19,0,...,No,No,No,No,No,No,No,Ch,Yes,1
16,58694,Caucasian,Female,[70-80),1,Oncology,39,0,1,0,...,No,No,No,No,No,No,No,No,No,0
17,59479,Caucasian,Male,[80-90),5,InternalMedicine,50,0,26,0,...,No,Up,No,No,No,No,No,Ch,Yes,1
18,98527,Hispanic,Female,[40-50),2,unknown,2,0,4,0,...,No,No,No,No,No,No,No,No,No,1
19,70037,Caucasian,Male,[80-90),4,PhysicianNotFound,30,3,24,2,...,No,Down,Steady,No,No,No,No,Ch,Yes,1

In [15]:
df1["race"] = (
    df1["race"]
    .replace("unknown", np.nan)
    .fillna(df1["race"].mode()[0])
)

In [16]:
df1.tail(20)

,index,race,gender,age,time_in_hospital,medical_specialty,num_lab_procedures,num_procedures,num_medications,number_outpatient,...,X19,X20,X21,X22,X23,X24,X25,change,diabetesMed,readmitted
66567,6802,Caucasian,Female,[50-60),2,unknown,47,1,18,0,...,No,No,No,No,No,No,No,No,No,0
66568,65912,Caucasian,Male,[80-90),6,Gastroenterology,54,1,17,0,...,No,Steady,No,No,No,No,No,Ch,Yes,0
66569,53649,Caucasian,Female,[60-70),4,InternalMedicine,91,0,16,0,...,No,Steady,No,No,No,No,No,No,Yes,0
66570,60967,Caucasian,Female,[70-80),1,unknown,8,0,9,0,...,No,No,No,No,No,No,No,No,Yes,0
66571,20259,AfricanAmerican,Female,[50-60),5,unknown,38,0,16,0,...,No,Down,No,No,No,No,No,Ch,Yes,1
66572,79859,Caucasian,Female,[70-80),4,unknown,57,0,12,3,...,No,No,No,No,No,No,No,No,No,1
66573,38842,Caucasian,Male,[70-80),2,Emergency/Trauma,1,0,12,0,...,No,Up,No,No,No,No,No,Ch,Yes,0
66574,8516,Caucasian,Female,[60-70),3,InternalMedicine,60,5,14,0,...,No,No,No,No,No,No,No,Ch,Yes,0
66575,83943,Caucasian,Female,[70-80),2,Emergency/Trauma,1,3,20,0,...,No,Down,No,No,No,No,No,Ch,Yes,1
66576,44967,Caucasian,Male,[70-80),10,Emergency/Trauma,25,3,30,0,...,No,Down,No,No,No,No,No,Ch,Yes,1
66577,85934,AfricanAmerican,Male,[60-70),2,unknown,10,0,8,0,...,No,No,No,No,No,No,No,No,No,0
66578,1784,AfricanAmerican,Female,[70-80),3,InternalMedicine,60,0,6,0,...,No,Steady,No,No,No,No,No,No,Yes,1
66579,95465,AfricanAmerican,Male,[60-70),10,InternalMedicine,45,2,22,0,...,No,Steady,No,No,No,No,No,No,Yes,1
66580,13308,Caucasian,Male,[60-70),6,unknown,58,0,19,0,...,No,Steady,No,No,No,No,No,Ch,Yes,1
66581,4840,Caucasian,Female,[70-80),1,Surgery-General,10,1,11,0,...,No,No,No,No,No,No,No,No,No,0
66582,39934,Caucasian,Female,[70-80),11,InternalMedicine,40,4,35,0,...,No,Steady,No,No,No,No,No,No,Yes,0
66583,47366,Caucasian,Male,[80-90),4,unknown,39,1,7,0,...,No,No,No,No,No,No,No,No,No,1
66584,76555,Caucasian,Female,[60-70),2,unknown,24,1,13,0,...,No,No,No,No,No,No,No,No,Yes,1
66585,25392,Caucasian,Female,[80-90),4,InternalMedicine,39,1,14,0,...,No,No,No,No,No,No,No,No,No,0
66586,51312,Caucasian,Female,[80-90),2,unknown,38,2,12,0,...,No,Steady,No,No,No,No,No,Ch,Yes,1

In [17]:
(df1['medical_specialty']=='unknown').sum()

np.int64(32672)

In [18]:
df1.columns

Index(['index', 'race', 'gender', 'age', 'time_in_hospital',
       'medical_specialty', 'num_lab_procedures', 'num_procedures',
       'num_medications', 'number_outpatient', 'number_emergency',
       'number_inpatient', 'diag_1', 'diag_2', 'diag_3', 'diag_4', 'diag_5',
       'number_diagnoses', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X7', 'X8',
       'X9', 'X10', 'X11', 'X12', 'X13', 'X14', 'X15', 'X16', 'X17', 'X18',
       'X19', 'X20', 'X21', 'X22', 'X23', 'X24', 'X25', 'change',
       'diabetesMed', 'readmitted'],
      dtype='object')

In [38]:
(df1['number_emergency']=='?').sum()

np.int64(0)

In [40]:
df1['diag_1']=df1['diag_1'].replace("?",np.nan)

In [41]:
df1['diag_1'].fillna(df1['diag_1'].mode()[0],inplace=True)

/tmp/ipython-input-1787824082.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1['diag_1'].fillna(df1['diag_1'].mode()[0],inplace=True)

In [43]:
df1["diag_1"] = pd.to_numeric(df1["diag_1"], errors="coerce")

In [44]:
df1['diag_1'].head(50)

0     783.00
1     564.00
2     574.00
3     401.00
4     311.00
5     410.00
6     414.00
7     552.00
8     427.00
9     414.00
10    410.00
11    414.00
12    618.00
13    515.00
14    807.00
15    250.41
16    922.00
17    486.00
18    558.00
19    250.80
20    486.00
21    428.00
22    786.00
23    560.00
24    414.00
25    682.00
26    574.00
27    786.00
28    414.00
29    599.00
30    198.00
31    972.00
32    751.00
33    575.00
34    428.00
35    250.10
36    722.00
37    507.00
38    427.00
39    434.00
40    786.00
41       NaN
42    435.00
43    250.70
44     38.00
45    250.60
46    434.00
47    723.00
48       NaN
49    715.00
Name: diag_1, dtype: float64

In [45]:
df1['diag_2'].isnull().sum()

np.int64(0)

In [46]:
df1 = df1.dropna(subset=["diag_1"])

In [47]:
df1['diag_2']=pd.to_numeric(df1['diag_2'],errors='coerce')
df1=df1.dropna(subset=['diag_2'])

/tmp/ipython-input-2673525879.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['diag_2']=pd.to_numeric(df1['diag_2'],errors='coerce')

In [48]:
df1['diag_3']=pd.to_numeric(df1['diag_3'],errors='coerce')
df1=df1.dropna(subset=['diag_3'])

In [49]:
df1['diag_4']=pd.to_numeric(df1['diag_4'],errors='coerce')
df1=df1.dropna(subset=['diag_4'])

In [50]:
df1['diag_5']=pd.to_numeric(df1['diag_5'],errors='coerce')
df1=df1.dropna(subset=['diag_5'])

In [51]:
df1["diag_2"] = df1["diag_2"].replace("?", np.nan)
df1['diag_2'].fillna(df1['diag_2'].mode()[0],inplace=True)

/tmp/ipython-input-4167269218.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1['diag_2'].fillna(df1['diag_2'].mode()[0],inplace=True)

In [52]:
df1['diag_3']=df1['diag_3'].replace("?",np.nan)
df1['diag_3'].fillna(df1['diag_3'].mode()[0],inplace=True)

/tmp/ipython-input-2118792304.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1['diag_3'].fillna(df1['diag_3'].mode()[0],inplace=True)

In [53]:
df1['diag_4']=df1['diag_4'].replace("?",np.nan)
df1['diag_4'].fillna(df1['diag_4'].mode()[0],inplace=True)

/tmp/ipython-input-1899836770.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1['diag_4'].fillna(df1['diag_4'].mode()[0],inplace=True)

In [54]:
df1['diag_3'].head(40)

0     585.00
1     569.00
2     585.00
3     250.00
4     300.00
5     414.00
6     998.00
7     780.00
8     458.00
9     427.00
10    276.00
11    585.00
12    625.00
13    250.00
14    518.00
15    585.00
16    496.00
17    255.00
18    276.00
20    276.00
21    585.00
22    357.00
23    428.00
24    786.00
25    496.00
26    585.00
27    357.00
28    428.00
29    427.00
30    197.00
32    250.02
33     70.00
34    584.00
35     41.00
37    496.00
38    250.00
39    345.00
40    428.00
42    414.00
43    785.00
Name: diag_3, dtype: float64

In [55]:
df1.columns

Index(['index', 'race', 'gender', 'age', 'time_in_hospital',
       'medical_specialty', 'num_lab_procedures', 'num_procedures',
       'num_medications', 'number_outpatient', 'number_emergency',
       'number_inpatient', 'diag_1', 'diag_2', 'diag_3', 'diag_4', 'diag_5',
       'number_diagnoses', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X7', 'X8',
       'X9', 'X10', 'X11', 'X12', 'X13', 'X14', 'X15', 'X16', 'X17', 'X18',
       'X19', 'X20', 'X21', 'X22', 'X23', 'X24', 'X25', 'change',
       'diabetesMed', 'readmitted'],
      dtype='object')

In [56]:
(df1['diag_5']=='NaN').sum()

np.int64(0)

In [57]:
df1['diag_5'].value_counts().head(50)

diag_5
71.064289    6
37.266488    6
56.122334    6
38.154100    6
99.845805    6
35.864949    6
28.217689    6
19.105112    5
78.436872    5
93.363941    5
70.420447    5
70.609780    5
26.990865    5
41.621622    5
13.136350    5
39.824729    5
61.490878    5
62.534374    5
25.937084    5
22.057854    5
31.445492    5
72.054025    5
15.513741    5
74.428225    5
26.255971    5
14.013132    5
89.080698    5
18.086194    5
15.915047    5
39.176381    5
24.338108    5
55.565242    5
64.916779    5
83.555736    5
91.930793    5
52.136240    5
10.099806    5
1.201158     5
12.066689    5
92.420323    5
89.253439    5
48.359903    5
78.063221    5
51.906309    5
0.698951     5
81.452266    5
38.252675    5
73.989149    5
73.610754    5
75.062871    5
Name: count, dtype: int64

In [63]:
df1['diag_1'].value_counts()

diag_1
428.0    4385
414.0    3878
786.0    2438
410.0    2309
486.0    2174
         ...
634.0       1
170.0       1
747.0       1
810.0       1
374.0       1
Name: count, Length: 624, dtype: int64

In [59]:
df1=df1.dropna(subset=['diag_5'])

In [60]:
df1['diag_5']

0        32.970966
1        94.116731
2        64.138297
3        13.832428
4        82.898368
           ...
66582    64.439655
66583    39.133605
66584    97.187192
66585    16.856253
66586    24.436177
Name: diag_5, Length: 60148, dtype: float64

In [62]:
df1['X1'].value_counts()

X1
Norm    1483
>200     912
>300     783
Name: count, dtype: int64

In [64]:
df1['X20'].isnull().sum()

np.int64(0)

In [65]:
df1.drop(['X1','X2'],axis=1,inplace=True)

In [66]:
(df1['change']=='?').sum()

np.int64(0)

# **EDA ON TEST DATASET**

In [67]:
df2=pd.read_csv('/content/test-1617360461595-1660719701431.csv')
df2

,index,encounter_id,patient_id,race,gender,age,weight,time_in_hospital,medical_specialty,num_lab_procedures,...,X18,X19,X20,X21,X22,X23,X24,X25,change,diabetesMed
0,11128,46325466,3928383,Caucasian,Female,[70-80),?,3,?,45,...,No,No,No,No,No,No,No,No,No,Yes
1,79758,245219616,60926103,Caucasian,Male,[60-70),?,2,?,10,...,No,No,No,No,No,No,No,No,No,Yes
2,52497,155321232,25234848,AfricanAmerican,Male,[70-80),?,11,InternalMedicine,41,...,No,No,Steady,No,No,No,No,No,No,Yes
3,64504,179491944,86935374,Caucasian,Female,[70-80),?,1,InternalMedicine,71,...,No,No,No,No,No,No,No,No,No,No
4,987,7425954,2486826,AfricanAmerican,Female,[50-60),?,7,InternalMedicine,59,...,No,No,Steady,No,No,No,No,No,Ch,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16642,69643,198316824,71780013,Caucasian,Male,[70-80),?,3,Surgery-Vascular,51,...,No,No,Down,No,No,No,No,No,Ch,Yes
16643,29787,96993108,23318685,Caucasian,Male,[70-80),?,2,InternalMedicine,37,...,No,No,No,No,No,No,No,No,Ch,Yes
16644,44710,137896878,90856791,Caucasian,Female,[50-60),?,2,Family/GeneralPractice,14,...,No,No,No,No,No,No,No,No,No,No
16645,28486,93395658,3233259,?,Male,[70-80),?,1,?,35,...,No,No,No,No,No,No,No,No,No,Yes
16646,39179,121984746,41817384,Caucasian,Female,[80-90),?,1,Cardiology,13,...,No,No,No,No,No,No,No,No,No,Yes

In [68]:
df2.drop(['index','patient_id','encounter_id','weight','diag_4','X1','X2'],axis=1,inplace=True)

In [69]:
df2['race'].value_counts()

race
Caucasian          12442
AfricanAmerican     3112
?                    371
Hispanic             335
Other                255
Asian                132
Name: count, dtype: int64

In [72]:
df2['race']=(df2['race'].replace("?",np.nan).fillna(df2['race'].mode()[0]))

In [73]:
df2.columns

Index(['race', 'gender', 'age', 'time_in_hospital', 'medical_specialty',
       'num_lab_procedures', 'num_procedures', 'num_medications',
       'number_outpatient', 'number_emergency', 'number_inpatient', 'diag_1',
       'diag_2', 'diag_3', 'diag_5', 'number_diagnoses', 'X3', 'X4', 'X5',
       'X6', 'X7', 'X8', 'X9', 'X10', 'X11', 'X12', 'X13', 'X14', 'X15', 'X16',
       'X17', 'X18', 'X19', 'X20', 'X21', 'X22', 'X23', 'X24', 'X25', 'change',
       'diabetesMed'],
      dtype='object')

In [74]:
df2['diag_1'].value_counts()

diag_1
428    1186
414    1132
786     679
410     600
486     568
       ...
131       1
657       1
825       1
344       1
696       1
Name: count, Length: 498, dtype: int64

In [76]:
(df2['diag_1']=='?').sum()

np.int64(3)

In [77]:
df2['diag_1']=(df2['diag_1'].
               replace("?",np.nan).
               fillna(df2['diag_1'].mode()[0]))

In [78]:
df2["diag_1"] = pd.to_numeric(df2["diag_1"], errors="coerce")
df2 = df2.dropna(subset=["diag_1"])

In [79]:
(df2['diag_2']=='?').sum()

np.int64(63)

In [80]:
df2["diag_2"] = (
    df2["diag_2"]
    .replace("?", np.nan)
    .fillna(df2["diag_2"].mode()[0])
)

/tmp/ipython-input-2846018936.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["diag_2"] = (

In [ ]:
df2["diag_2"] = pd.to_numeric(df2["diag_2"], errors="coerce")
df2 = df2.dropna(subset=["diag_2"])

In [81]:
(df2['diag_3']=='?').sum()

np.int64(246)

In [82]:
df2["diag_3"] = (
    df2["diag_3"]
    .replace("?", np.nan)
    .fillna(df2["diag_3"].mode()[0])
)

/tmp/ipython-input-3490283723.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["diag_3"] = (

In [83]:
df2["diag_3"] = pd.to_numeric(df2["diag_3"], errors="coerce")
df2 = df2.dropna(subset=["diag_3"])

/tmp/ipython-input-922570877.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["diag_3"] = pd.to_numeric(df2["diag_3"], errors="coerce")

In [84]:
(df2['diag_5']=='?').sum()

np.int64(0)

In [85]:
df2['diag_5'].value_counts()

diag_5
14.350535    5
33.743051    4
61.066670    4
90.421477    3
14.002805    3
            ..
7.397587     1
99.100670    1
3.295580     1
81.067952    1
87.126739    1
Name: count, Length: 14431, dtype: int64

In [86]:
df2['diag_1'].isnull().sum()

np.int64(0)

In [87]:
df2 = df2[df2["gender"] != "Unknown/Invalid"]

In [88]:
df2['diabetesMed'].value_counts()

diabetesMed
Yes    12058
No      3565
Name: count, dtype: int64

In [89]:
df1.to_csv('/content/Train-1617360447408-1660719685476.csv',index=False)

In [90]:
df2.to_csv('/content/test-1617360461595-1660719701431.csv',index=False)

# **Model Building**

In [91]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import f1_score

from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier, AdaBoostClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import LinearSVC

In [92]:
x_train = df1.drop(columns=["readmitted"])
y_train = df1["readmitted"]

x_test=df2.copy()

In [93]:
cat_cols = x_train.select_dtypes(include="object").columns
num_cols = x_train.select_dtypes(exclude="object").columns

In [94]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, StandardScaler

preprocessor = ColumnTransformer(
    transformers=[
        ("num", StandardScaler(), num_cols),
        ("cat", OneHotEncoder(handle_unknown="ignore"), cat_cols)
    ]
)

In [95]:
models = {
    "Logistic Regression": LogisticRegression(
        max_iter=3000, solver="saga", class_weight="balanced", n_jobs=-1
    ),
    "KNN": KNeighborsClassifier(n_neighbors=5),  # keep for comparison
    "Decision Tree": DecisionTreeClassifier(
        max_depth=10, min_samples_leaf=50, class_weight="balanced"
    ),
    "Random Forest": RandomForestClassifier(
        n_estimators=100, max_depth=12, min_samples_leaf=50, n_jobs=-1
    ),
    "Gradient Boosting": GradientBoostingClassifier(n_estimators=100),
    "SVM": LinearSVC(class_weight="balanced", max_iter=2000)
}

In [96]:
from sklearn.pipeline import Pipeline
from sklearn.metrics import f1_score, accuracy_score

results = {}

for name, clf in models.items():
    pipe = Pipeline(steps=[
        ("preprocess", preprocessor),
        ("model", clf)
    ])

    pipe.fit(x_train, y_train)
    y_pred = pipe.predict(x_train)   # or validation set

    results[name] = {
        "Accuracy": accuracy_score(y_train, y_pred),
        "F1 Score": f1_score(y_train, y_pred, average="weighted")
    }

results_df = pd.DataFrame(results).T
print(results_df)

                     Accuracy  F1 Score
Logistic Regression  0.625723  0.623992
KNN                  0.775520  0.775180
Decision Tree        0.654768  0.654965
Random Forest        0.651327  0.641530
Gradient Boosting    0.646638  0.640719
SVM                  0.625158  0.623455